<div class="form-container">
  <h1 class="form-title">{{ config.Title }}</h1>
  <h2 class="form-subtitle">{{ config.Subtitle }}</h2>
  <div class="form-fields">
    <ng-container *ngFor="let field of config.Fields">
      <ng-container [ngSwitch]="field.Type">
        <h1 *ngSwitchCase="'H1'" class="field-heading">{{ field.Text }}</h1>
        <input *ngSwitchCase="'Text'" type="text" [id]="field.ID" [(ngModel)]="formData[field.ID || '']" [placeholder]="field.Placeholder || ''" class="text-input">
        <button *ngSwitchCase="'Button'" (click)="showAlert(field.AlertMessage || '')" class="button">{{ field.Title }}</button>
      </ng-container>
    </ng-container>
  </div>
</div>